/*.navbar-brand{padding-right: 60px;}*/


body{
	width: 100%;
}

.bg-light {
    background-color: white !important;
}

.container-xl{

	background-image: url("../images/i.jpg");
	width: 100%;
	height: 1200px;

}